.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Top-header{
  background-color: hsl(215, 84%, 93%);
  display: flex;
 justify-content: center;
}
.Top-header p{
  width: 472px;
  font-family: Inter;
font-size: 16.88px;
font-weight: 500;
line-height: 28px;
text-align: left;

}

.Top-header button{
color: #0488ff;
background: transparent;
border: 0;

font-family: Inter;
font-size: 17.02px;
font-weight: 500;
line-height: 28px;
text-align: center;


}
.logo img{
  width: 125px;
height: 36.66px;


}
.right-section{
  display: flex;
}
.main-header{

  padding: 9.6px 280px 9.6px 280px;
  display: flex;
  justify-content: space-between;
}

.right-section button{
  width: 116px;
height: 40px;
padding: 8px 18px 8px 18px;
gap: 4px;
border-radius: 6px ;
background: #1A73E8;
margin-left: 1.5rem;
cursor: pointer;
font-family: Inter;
font-size: 14.88px;
font-weight: 500;
line-height: 24px;
text-align: center;
color: white;


}
.left-section{
  display:flex;
  gap: 1.5rem;
  font-family: Inter;
font-size: 14.75px;
font-weight: 500;
line-height: 24px;
text-align: left;


}

.left-section button{
  width: 77px;
height: 40px;
padding: 8px 18px 8px 18px;
border: 0;
border-radius: 6px ;
cursor: pointer;


}

.left-section p{
  cursor: pointer;
}
.tryff{
  width: 115px !important; 
  background: #1A73E8 !important;

}


.header{
  display: flex;
  justify-content: space-between;
}

.Third-header{
  display: flex;
  width: 34rem;
  justify-content: space-evenly;
  height: 63px;
  top: 170px;
  left: 454px;
  padding-left: 3.5rem;
  gap: 2.5rem;
  border-radius: 38px;
  position: sticky;
  background: #1A73E81C;
}
.eclipse{
  width: 6px;
  height: 6px;
  position: absolute;
  top: 2.7rem;
  left: 6.5rem;
}
.Third-header p{
  color: #4B4B4B;
  font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 22px;
text-align: center;

}
.Third-header a{
  text-decoration: none;
}
.selected{
  color: #1A73E8 !important;
}

.m-101{
  width: 7rem;
  height: 6rem;
  top: -1rem;
  left: -1rem;
  position: absolute;
  rotate:116deg
}
.m-102{
  width: 7rem;
    height: 6rem;
    top: 2.5rem;
    left: 50.6rem;
    position: absolute;
    rotate: 167deg;
}
.m-103{
  width: 7rem;
  height: 6rem;
  top: 23.5rem;
  left: 43rem;
  position: absolute;
  rotate: -65deg;
  z-index: 2;
}
.m-104{
  width: 7rem;
  height: 6rem;
  top: -2rem;
  left: 72rem;
  position: absolute;
  rotate: 184deg;
}
.m-105{
  width: 7rem;
  height: 6rem;
  top: 14.5rem;
  left: 72rem;
  position: absolute;
  rotate: 128deg
}

.text-106{
  top: 3.5rem;
  left: 4.313rem;
  position: absolute;
  
}
.text-107{
  top: 12.5rem;
  left: 4.313rem;
  position: absolute;
  
}

.text-107 p{
  width: 21rem;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  

}

.text-106 h2{
  width: 21rem;
  font-family: Roboto;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 58px;
  text-align: left;

}

.Container-01{
  width: 80rem;
height: 30.25rem;
top: 16rem;
box-shadow: 0px 4px 65px 1px #00072B36;
left: 8rem;
position: absolute;
border-radius: 29px ;
overflow: hidden !important;
background-color: #EEF5FF;
}
.Container-02{
  width: 98.9rem;
  height: 41rem;
  top: 51rem;
  left: -4rem;
  background-color: #EEF5FF;
  position: absolute;
}



.Container-02 img{
  width: 74rem;
  height: 31rem;
  top: 1rem;
  left: 16rem;
  position: absolute;

}
.userPlus{
  width: 8rem;
    height: 66.96px;
    top: 16rem;
    left: 29rem;
    
    font-size: 2.1rem;
    
    position: absolute;
}

.userPlus p{
  width: 10rem;
  height: 88px;
  top: 3rem;
  left: -1rem;
 
  position: absolute;

  font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-align: center;

}

.models{
  width: 50.875rem;
  height: 45.313rem;
  top: -7rem;
  left: 36.25rem;
  position: absolute;
}

.refer{
  width: 65.11px;
    height: 67.38px;
    top: 15rem;
    left: 51rem;
    font-size: 2.1rem;

    position: absolute;
}
.refer p{
  position: absolute;
    width: 11rem;
    height: 88px;
    top: 3.7rem;
    left: -3rem;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;

}
.wallet{
  width: 13rem;
  height: 88px;
  top: 15rem;
  left: 68rem;
  gap: 0px;
  opacity: 0px;
  position: absolute;
  font-size: 2.1rem;
}
.wallet p{
  position: absolute;
    width: 11rem;
    height: 88px;
    top: 3.7rem;
    left: 0.6rem;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.btn{
  width: 192px;
  height: 54px;
  position: absolute;
  top: 24rem;
  left: 4rem;
  padding: 15px 52px 15px 52px;
  border-radius: 8px;
  background-color: #1A73E8;
  color: white;
}

.referbtn{
  top: 34rem !important;
    left: 46rem !important;
}

.Container-03{
  width: 94.7rem;
  height: 41rem;
  top: 95rem;
  left: 0rem;
  position: absolute;
  text-align: center;
}

.Container-03 h2{
  width: 584px;
  height: 59px;
  top: 1rem;
  left: 31rem;
  position: absolute;
  font-family: Roboto;
  font-size: 27.66px;
  font-weight: 600;
  line-height: 43px;
  text-align: center;

}

.E-checkbox{
  position: absolute;
  left: 66rem;
  top: 8rem;
  height: 2rem;
  
}

.Container-04{
  position: absolute;
    top: 106rem;
    left: 13rem;
}

.popup-box{
  position: absolute;
  z-index: 2;
  width: 35rem;
  height: 35rem;
  padding: 5rem;
  top: 11rem;
  left: 31rem;
  background: #eef5ff;
  border-radius: 2rem;
}
.cls-st{
  margin: 2rem;
}
.cls-st input, textarea{
  border-radius: .4em;
  border: 2px solid #1A73E8;
  width: 14rem;
  height: 1.5rem;
  margin-left: 2rem;
}
.cls-st label{
  font-size: 1rem;
    font-family: serif;
}